/*Header*/
#LogotipoHeader{
    max-width: 200px;
    height: auto;
}

#header{
    margin: 0;
    padding: 0;
    background-color: #fff;
}

#imgLogin{
    width: 20px;
    margin-right: 5px;
}
 

#btnIniciarSessao {
    background-color:rgb(91, 162, 237);
    color: #fff;             
    border: none;            
}
  
#btnIniciarSessao:hover {
    background-color: #218838;
}
  
#btnRegistar {
    background-color:rgb(91, 162, 237);
    color: #fff; 
    border: none;
}
  
#btnRegistar:hover {
    background-color: #e0a800;
}


/*Corpo da Pagina*/
#zonaConteudo{
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    font-size: 20px;
}

#Titulo {
    margin-bottom: 20px;
}

.social-icons {
    margin-top: 20px; 
}

.social-icons a {
    color: #007bff;
    font-size: 24px;
    margin: 0 15px; 
    border: 2px solid #007bff;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}

.social-icons a:hover {
    background-color: #007bff;
    color: #fff;
}

/*Form*/

.form-label {
    font-weight: 500;
}

#Nome {
    margin-bottom: 10px;
}

#Email {
    margin-bottom: 10px;
}

#Telemovel {
    margin-bottom: 10px;
}

#Assunto {
    margin-top: 10px;
    resize: none;
    height: 80px;
    margin-bottom: 10px;
}

#Mensagem{
    margin-top: 10px;
    resize: none;
    height: 150px;
    margin-bottom: 10px;
}

.form-check:last-of-type {
    margin-bottom: 20px;
} 

.from-check {

}

/*Footer*/
.footer {
    margin-top: 50px; /* Aumenta a distância do footer em relação ao topo */
    background-color: rgb(91, 162, 237); /* Cor do fundo do footer */
    padding: 10px 0; /* Aumenta o espaçamento interno */
    color: white; /* Garante que o texto fique legível */
    text-align: center; /* Centraliza o texto */
    font-size: 14px; /* Define o tamanho da fonte */
}

