/*Header*/
#LogotipoHeader{
    width: 80%;
    height: 80%;
}
  
#header{
    padding: 20px;
}

/*Footer*/
.footer {
    margin-top: 35px; /* Aumenta a distância do footer em relação ao topo */
    background-color: rgb(91, 162, 237); /* Cor do fundo do footer */
    padding: 10px 0; /* Aumenta o espaçamento interno */
    color: white; /* Garante que o texto fique legível */
    text-align: center; /* Centraliza o texto */
    font-size: 14px; /* Define o tamanho da fonte */
}