#LogotipoHeader{
    width: 80%;
    height: 80%;
}

#header{
    padding: 20px;
}

#rent{
    padding-left: 30px;
    padding-right: 30px;

}

#Comb{
    padding-bottom: 80px;
    padding-left: 20px;
    padding-right: 20px;
}

#Purifog{
    padding-bottom: 80px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#youtube{
    text-align: center;
    padding: 20 px;
}

/*Footer*/
.footer {
    margin-top: 35px; /* Aumenta a distância do footer em relação ao topo */
    background-color: rgb(91, 162, 237); /* Cor do fundo do footer */
    padding: 10px 0; /* Aumenta o espaçamento interno */
    color: white; /* Garante que o texto fique legível */
    text-align: center; /* Centraliza o texto */
    font-size: 14px; /* Define o tamanho da fonte */
    left: 0;
    bottom: 0;
    width: 100%;
}